.dv-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: fixed;
  bottom: 15px;
  right: 25px;
}

.dv-pagination > div {
  border: 1px solid #99999950;
  background-color: #fff;
  border-radius: 5px;
  padding: 3px;
}

.dv-pagination > div button.next,
.dv-pagination > div button.prev {
  border: none;
  padding: 2px 7px;
  height: 25px;
  cursor: pointer;
  background-color: #da552f;
  color: #fff;
  transition: all 0.2s;
}

.dv-pagination > div button.next,
.dv-pagination > div button.prev {
  border-radius: 3px;
}

.dv-pagination > div span {
  margin: 0 5px;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .dv-pagination {
    width: 100%;
    right: 0;
    justify-content: center;
  }
}
