.dv-search {
  width: 300px;
  border-right: 1px solid#e6e6e6;
  padding: 30px 15px;
  position: absolute;
  height: 90%;
  top: initial;
  background-color: #fff;
  z-index: 2;
  transition: all 0.3s;
  border-bottom-right-radius: 2px;
}

.dv-search.notop {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #e6e6e6;
}

.dv-main {
  display: flex;
  flex-direction: row;
}

.form-search > div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.form-search > div:nth-child(1) > div:nth-child(1) {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 15px;
}

.form-search > div:nth-child(1) > div:nth-child(2) {
  font-size: 14px;
  margin-bottom: 10px;
  color: #999;
}

.form-search > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.form-search > div:nth-child(2) > button {
  height: 30px;
  width: 130px;
  border: 1px solid rgba(169, 169, 169, 0.5);
  background-color: transparent;
  color: rgb(133, 133, 133);
  cursor: pointer;
  transition: 0.5s;
}

.form-search > div:nth-child(2) > button:hover {
  border-color: #da552f;
  color: #da552f;
}
.form-search > div:nth-child(2) > button.selected {
  background-color: #da552f;
  color: #fff;
  font-weight: bold;
}

.form-search > div:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-search > input {
  width: 100%;
  height: 40px;
  border: 2px solid #da552f;
  margin-bottom: 15px;
  padding: 10px;
}

.form-search > input:disabled {
  border: 1px solid rgba(169, 169, 169, 0.5);
  cursor: no-drop;
}

.form-search > button {
  width: 100%;
  height: 34px;
  border: none;
  background: #da552f;
  color: #fff;
  font-weight: bold;
  border-bottom: 2px solid #7d311b;
  transition: 0.5s;
  cursor: pointer;
}

.form-search > button:hover {
  background: #b34526;
}

.form-search > button:disabled {
  background: #ddd;
  color: #999;
  border: none;
  font-weight: normal;
  cursor: no-drop;
}

.form-search > button:active {
  border: none;
}

.dv-result {
  padding: 30px 15px;
  margin-left: 300px;
  flex: 1;
}

.dv-result.notop {
  margin: 0;
}

.movies-list > h2 {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 15px;
}
.movies-list > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movies-list > div > div {
  border: 2px solid rgba(168, 168, 168, 0.5);
  width: 250px;
  height: 100px;
  padding: 20px;
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  .dv-main {
    flex-direction: column;
  }
  .dv-search {
    width: 100%;
    position: relative;
    border: none;
    border-bottom: 1px solid rgba(169, 169, 169, 0.5);
    padding: 15px 15px;
  }
  .dv-result {
    margin: 0;
    padding: 15px 15px;
  }
  .form-search > div:nth-child(2) > button {
    flex: 1;
  }
  .form-search > div:nth-child(2) > button:nth-child(1) {
    margin: 0 5px 0 0;
  }
  .form-search > div:nth-child(2) > button:nth-child(2) {
    margin: 0 0 0 5px;
  }
  .form-search > div:nth-child(1) {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .form-search > div:nth-child(1) > div:nth-child(1) {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .form-search > input {
    height: 33px;
  }
}
