.dv-search {
  width: 300px;
  border-right: 1px solid#e6e6e6;
  padding: 30px 15px 15px 15px;
  position: absolute;
  height: 100%;
  top: initial;
  background-color: #fff;
  z-index: 2;
  transition: all 0.3s;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.dv-search.notop {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #e6e6e6;
}

.dv-main {
  display: flex;
  flex-direction: row;
}

.dv-result {
  padding: 30px 15px 0 15px;
  margin-left: 300px;
  flex: 1;
}

.dv-result.notop {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .dv-main {
    flex-direction: column;
  }
  .dv-search {
    width: 100%;
    position: relative;
    border: none;
    border-bottom: 1px solid rgba(169, 169, 169, 0.5);
    padding: 15px 15px;
  }
  .dv-result {
    margin: 0;
    padding: 15px 15px;
  }
}
