.dv-loading-dt > .dv-loading-item > .ph-item {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: transparent;
  border: none;
  padding: 10px;
}

.dv-loading-dt > .dv-loading-item > .ph-item > .ph-col-12 {
  padding: 0;
  align-items: center;
  flex-direction: column;
}

.dv-loading-dt
  > .dv-loading-item
  > .ph-item
  > .ph-col-12
  > .ph-row:nth-child(1) {
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.dv-loading-dt
  > .dv-loading-item
  > .ph-item
  > .ph-col-12
  > .ph-row:nth-child(1)
  > div:nth-child(1) {
  flex: 0 0 35px;
  width: 200px;
  align-self: flex-start;
}

.dv-loading-dt
  > .dv-loading-item
  > .ph-item
  > .ph-col-12
  > .ph-row:nth-child(1)
  > div:nth-child(2) {
  margin: 0;
  height: 300px;
  flex: 0 0 290px;
  width: 200px;
}

.dv-loading-dt
  > .dv-loading-item
  > .ph-item
  > .ph-col-12
  > .ph-row:nth-child(2) {
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  flex: 0;
}

.dv-loading-dt > .dv-loading-item > .ph-item > .ph-col-12 .ph-row > div {
  background-color: #da772f60;
  border-radius: 2px;
}

.dv-loading-dt
  > .dv-loading-item
  > .ph-item
  > .ph-col-12
  > .ph-row:nth-child(2)
  div {
  width: 50px;
  flex: 0 0 20px;
  margin-bottom: 10px;
}

.dv-loading-dt
  > .dv-loading-item
  > .ph-item
  > .ph-col-12
  > .ph-row:nth-child(2)
  > div:nth-child(1),
.dv-loading-dt
  > .dv-loading-item
  > .ph-item
  > .ph-col-12
  > .ph-row:nth-child(2)
  > div:nth-child(3),
.dv-loading-dt
  > .dv-loading-item
  > .ph-item
  > .ph-col-12
  > .ph-row:nth-child(2)
  > div:nth-child(5),
.dv-loading-dt
  > .dv-loading-item
  > .ph-item
  > .ph-col-12
  > .ph-row:nth-child(2)
  > div:nth-child(7) {
  margin-bottom: 3px;
}

.dv-loading-dt
  > .dv-loading-item
  > .ph-item
  > .ph-col-12
  > .ph-row:nth-child(2)
  > div:nth-child(2) {
  width: 100px;
}

.dv-loading-dt
  > .dv-loading-item
  > .ph-item
  > .ph-col-12
  > .ph-row:nth-child(2)
  > div:nth-child(3) {
  width: 70px;
}

.dv-loading-dt
  > .dv-loading-item
  > .ph-item
  > .ph-col-12
  > .ph-row:nth-child(2)
  > div:nth-child(4) {
  width: 180px;
}

.dv-loading-dt
  > .dv-loading-item
  > .ph-item
  > .ph-col-12
  > .ph-row:nth-child(2)
  > div:nth-child(5) {
  width: 85px;
}

.dv-loading-dt
  > .dv-loading-item
  > .ph-item
  > .ph-col-12
  > .ph-row:nth-child(2)
  > div:nth-child(6) {
  width: 160px;
}

.dv-loading-dt
  > .dv-loading-item
  > .ph-item
  > .ph-col-12
  > .ph-row:nth-child(2)
  > div:nth-child(7) {
  width: 50px;
}

.dv-loading-dt
  > .dv-loading-item
  > .ph-item
  > .ph-col-12
  > .ph-row:nth-child(2)
  > div:nth-child(8) {
  width: 200px;
}

@media only screen and (max-width: 768px) {
  .dv-loading-dt
    > .dv-loading-item
    > .ph-item
    > .ph-col-12
    > .ph-row:nth-child(2) {
    width: 100%;
    align-items: center;
  }
  .dv-loading-dt
    > .dv-loading-item
    > .ph-item
    > .ph-col-12
    > .ph-row:nth-child(1)
    > div:nth-child(1) {
    align-self: center;
  }
}
