.dv-searching {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dv-searching > h2 {
  margin-bottom: 42px;
}

.dv-loading {
  display: flex;
  float: left;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.ph-item {
  margin: 0 10px 20px 10px;
  width: 23%;
  transition: 0.3s;
}

.ph-row div {
  background-color: #da552f85;
}

@media only screen and (max-width: 1329px) {
  .ph-item {
    width: 31%;
  }
}

@media only screen and (max-width: 1186px) {
  .ph-item {
    width: 47%;
  }
}

@media only screen and (max-width: 996px) {
  .ph-item {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .dv-searching > h2 {
    margin-bottom: 20px;
  }
}
