.movies-list > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movies-list > div:nth-child(1) > h2 {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 5px;
  text-align: center;
}
.movies-list > div:nth-child(1) > div {
  margin-bottom: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #ffffff;
  color: #da552f;
  padding: 4px 12px;
  border-radius: 2px;
  border: 1px solid #da552f;
}
.movies-list > div:nth-child(1) > div > span {
  font-weight: bold;
  font-size: 14px;
}
.movies-list > div:nth-child(1) > div > svg {
  margin-left: 9px;
  padding: 3px;
  border-radius: 14px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.2s;
}
.movies-list > div:nth-child(1) > div > svg:active {
  transition: all 0.1s;
  transform: scale(1.1, 1.1);
}
.movies-list > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.movies-list > div:nth-child(2) > div {
  border: 1px solid rgb(230, 230, 230);
  width: 23%;
  height: 120px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
}

.movies-list > div:nth-child(2) > div:hover {
  transform: scale(1.02, 1.02);
  border: 1px solid #da552f;
  box-shadow: 2px 2px #da552f;
}

.movies-list > div:nth-child(2) > div:active {
  transition: 0.1s;
  box-shadow: none;
  transform: scale(1, 1);
}

.movies-list > div:nth-child(2) > div > .dv-img-year {
  height: 100%;
  width: 100px;
  position: relative;
}

.movies-list > div:nth-child(2) > div > .dv-title {
  flex: 1 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.movies-list > div:nth-child(2) > div > .dv-title p {
  font-size: 15px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
}

.movies-list > div:nth-child(2) > div > .dv-img-year img {
  height: 100%;
  border-radius: 2px;
  object-fit: cover;
  border: 1px solid #fff;
  max-width: 68px;
}

.movies-list > div:nth-child(2) > div > .dv-img-year > p {
  position: absolute;
  bottom: 0;
  right: 15px;
  font-size: 11px;
  background-color: #333;
  color: #fff;
  padding: 3px 7px 3px 7px;
  border-top-left-radius: 2px;
  border-radius: 10px;
  border: 1px solid #fff;
}

.movies-list
  > div:nth-child(2)
  > div:hover
  > div:nth-child(1)
  .lazyload-wrapper
  img {
  border: 2px solid #da552f;
}

.movies-list > div:nth-child(2) > div:hover > .dv-img-year > p {
  background-color: #da552f;
  border: 1px solid #da552f;
}

.movies-list > div:nth-child(2) > div:hover > .dv-title > p {
  color: #da552f;
}

.dv-img-year > .lazyload-wrapper {
  height: 100%;
}

.dv-buttons-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.dv-buttons-modal > button {
  border: none;
  padding: 5px 20px;
  border-radius: 3px;
  font-size: 15px;
  color: #fff;
  margin-right: 5px;
  margin-left: 5px;
  transition: all 0.3s;
  cursor: pointer;
}

.dv-buttons-modal > button:nth-child(1) {
  background-color: #da552f;
  border-bottom: 3px solid #9b3b21;
}

.dv-buttons-modal > button:nth-child(2) {
  border: 2px solid #333;
  color: #333;
  background-color: #fff;
}

.dv-buttons-modal > button:nth-child(2):hover {
  color: #fff;
  background-color: #333;
}
.dv-buttons-modal > button:nth-child(1):active {
  border: none;
}

@media only screen and (max-width: 1329px) {
  .movies-list > div:nth-child(2) > div {
    width: 31%;
  }
}

@media only screen and (max-width: 1186px) {
  .movies-list > div:nth-child(2) > div {
    width: 47%;
  }
}

@media only screen and (max-width: 996px) {
  .movies-list > div:nth-child(2) > div {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .movies-list > div:nth-child(2) {
    margin-bottom: 30px;
  }
}
