.movies-list > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movies-list > div:nth-child(1) > h2 {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 5px;
  text-align: center;
}
.movies-list > div:nth-child(1) > div {
  margin-bottom: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #ffffff;
  color: #da552f;
  padding: 4px 12px;
  border-radius: 2px;
  border: 1px solid #da552f;
}
.movies-list > div:nth-child(1) > div > span {
  font-weight: bold;
  font-size: 14px;
}
.movies-list > div:nth-child(1) > div > svg {
  margin-left: 9px;
  padding: 3px;
  border-radius: 14px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.2s;
}
.movies-list > div:nth-child(1) > div > svg:active {
  transition: all 0.1s;
  transform: scale(1.1, 1.1);
}
.movies-list > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.movies-list > div:nth-child(2) > a {
  border: 1px solid rgb(230, 230, 230);
  width: 23%;
  height: 140px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  text-decoration: none;
  color: #333;
}

.movies-list > div:nth-child(2) > a:hover {
  transform: scale(1.02, 1.02);
  border: 1px solid #da552f;
  box-shadow: 4px 4px #da552f;
}

.movies-list > div:nth-child(2) > a:active {
  transition: 0.1s;
  box-shadow: none;
  transform: scale(1, 1);
}

.movies-list > div:nth-child(2) > a > div:nth-child(1) {
  height: 100%;
  width: 100px;
  position: relative;
}

.movies-list > div:nth-child(2) > a > div:nth-child(2) {
  flex: 1 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 10px;
}

.movies-list > div:nth-child(2) > a > div:nth-child(2) p:nth-child(1) {
  font-size: 15px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
  margin-bottom: 3px;
}

.movies-list > div:nth-child(2) > a > div:nth-child(1) img {
  height: 100%;
  width: 100px;
  border-radius: 2px;
  object-fit: cover;
}

.movies-list > div:nth-child(2) > a > div:nth-child(1) > p {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  background-color: #333;
  color: #fff;
  padding: 3px 5px 3px 5px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

.movies-list > div:nth-child(2) > a:hover > div:nth-child(1) > p {
  background-color: #da552f;
}

.movies-list > div:nth-child(2) > a:hover > div:nth-child(2) p:nth-child(2) {
  background-color: #da552f;
}
.movies-list > div:nth-child(2) > a:hover > div:nth-child(2) p:nth-child(1) {
  color: #da552f;
}

.lazyload-wrapper {
  height: 100%;
}

@media only screen and (max-width: 1329px) {
  .movies-list > div:nth-child(2) > a {
    width: 31%;
  }
}

@media only screen and (max-width: 1186px) {
  .movies-list > div:nth-child(2) > a {
    width: 47%;
  }
}

@media only screen and (max-width: 996px) {
  .movies-list > div:nth-child(2) > a {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .movies-list > div:nth-child(2) {
    margin-bottom: 30px;
  }
}
